<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873534784491-a4htl7aifchbt5fie4d4plq5k2ta76o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873534784491-a4htl7aifchbt5fie4d4plq5k2ta76o7</string>
	<key>API_KEY</key>
	<string>AIzaSyBmjuNlOmJkEG65gtYqACugtXhc7LlReFU</string>
	<key>GCM_SENDER_ID</key>
	<string>873534784491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takizee.salahConstruction</string>
	<key>PROJECT_ID</key>
	<string>salah-construction</string>
	<key>STORAGE_BUCKET</key>
	<string>salah-construction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873534784491:ios:1a282c27346b4031df0fae</string>
</dict>
</plist>